root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

[*.svelte]
indent_style = space
indent_size = 2

# Matches the exact files either package.json or .travis.yml
[package.json]
indent_style = space
indent_size = 2
