@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-color: #292b38;
    --text-color: #ffffff;
    --border-clor: #ffffff;
    --shadow-color: #00000080;
  }
}
