@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-color: #292b38;
    --text-color: #ffffff;
    --border-clor: #ffffff;
    --shadow-color: #00000080;
    --selected-color: #2196F3;
  }

  ::selection {
    background-color: var(--selected-color);
  }

  ::-moz-selection {
    background-color: var(--selected-color);
  }
}